main{
	margin: 120px auto;
}
body{
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, #68EACC 0%,#497BE8 100%)
}

.Titulo{
	text-align: center;
	background-color: white;
	margin: auto 600px;
	border-radius: 5px;
	padding: 20px;
}

.Formulario{
	margin:  20px auto;
	max-width: 400px;
	width: 100%;
	background-color:white;
	border-radius: 10px;
	padding: 40px;
}

.Añadir{
	display: flex;
	height: 45px;
	width: 100%;
	margin: 20px 0px;
}
.add{
	width: 60px;
	height: 100%;
	border: none;
	outline: none;
	background:green;
	color: aliceblue;
	margin-left: 5px;
	font-size: 40px;
	border-radius: 200px
}
.texto-entrada{
	width: 85%;
	height:95%;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 15px;
	font-size: 20px;
}
.lli {
	list-style: none;
	height: 50px;
	line-height: 50px;
	position: relative;
	background: #f2f2f2;
	font-size: 20px;
	border-radius: 15px;
}

.borrar{
	position: absolute;
	padding: 6px;
	margin: 5px auto;
	font-size: 20px;
	right: 0px;
	background: #D9161A;
	color: #fff;
	width: 50px;
	text-align: center;
	cursor: default;
	overflow: hidden;
	border-radius: 40px;
}

.eliminar-hechas{
	text-align: center;
	list-style: none;
	height: 50px;
	line-height: 50px;
	position: relative;

}

.borrar-todo{
	background: #D9161A;
	color: #fff;
	border-radius: 30px;
}

.verificar:checked + .texto{
text-decoration: line-through; color: red;
}

.Alerta{
	color: white;
	text-align: center;
}
